################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Back-end/EnterpriseDashboardSolution/DynamicLayout.Core/obj
/Back-end/EnterpriseDashboardSolution/.vs/EnterpriseDashboardSolution/v16/TestStore/0/testlog.manifest
/Back-end/EnterpriseDashboardSolution/.vs/EnterpriseDashboardSolution/v16/TestStore/0/000.testlog
/Front-end/samples/dist/dynamic-core-0.0.5.tgz
/Front-end/samples/dist/dynamic-core-0.0.4.tgz
/Front-end/samples/dist/dynamic-core-0.0.3.tgz
/Back-end/LEASolution/.vs/LEASolution/v16
/Back-end/LEASolution/Infrastructure/Infrastructure.Helpers.Migration/obj
/Back-end/LEASolution/Modules/Modules.Cms/.vs/Modules.Cms
/Back-end/LEASolution/Modules/Modules.Cms/Modules.Cms.Api/obj
/Back-end/LEASolution/Modules/Modules.Cms/Modules.Cms.Core/obj
/Back-end/LEASolution/Modules/Modules.Cms/Modules.Cms.Migrations/obj
/Front-end/library/dist/dynamic-core
/Front-end/library/node_modules
/Front-end/library/dist
/Front-end/samples/dist
/Services/Modules/Modules.Cms/.vs/Modules.Cms/DesignTimeBuild/*.v2
/Services/Modules/Modules.Cms/.vs/Modules.Cms/v16/*.suo
/Services/Modules/Modules.Cms/.vs/Modules.Cms/v16/TestStore/0/*.testlog
/Services/Modules/Modules.Cms/.vs/Modules.Cms/v16/TestStore/0/*.manifest
/Services/.vs/LEASolution/v16/*.suo
/Services/.vs/LEASolution/v16/TestStore/0/*.testlog
/Services/.vs/LEASolution/v16/TestStore/0/*.manifest
.DS_Store
/ClientApps/dist
ClientApps/dynamic-framework/package-lock.json
ClientApps/dynamic-framework/projects/primeng-dynamic-core/ng-package.json
ClientApps/my-dynamic-dashboard/package-lock.json
