<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 p-md-6">
      <label for="firstname">Firstname</label>
      <input id="firstname" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-6">
      <label for="lastname">Lastname</label>
      <input id="lastname" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12">
      <label for="address">Address</label>
      <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
  </div>
  <div class="p-field p-col-12 p-md-6">
      <label for="city">City</label>
      <input id="city" type="text" pInputText> 
  </div>
  <div class="p-field p-col-12 p-md-3">
      <label for="zip">Zip</label>
      <input id="zip" type="text" pInputText> 
  </div>
</div>